@model SiakWebApps.Models.StudentScholarship

<div class="row">
    <div class="col-md-12">
        <table class="table table-sm borderless">
            <tr>
                <th style="width: 30%">Student ID</th>
                <td>: @Model.SiswaId</td>
            </tr>
            <tr>
                <th>Scholarship ID</th>
                <td>: @Model.BeasiswaId</td>
            </tr>
            <tr>
                <th>Academic Year ID</th>
                <td>: @Model.TahunAjaranId</td>
            </tr>
            <tr>
                <th>Semester ID</th>
                <td>: @Model.SemesterId</td>
            </tr>
            <tr>
                <th>Start Date</th>
                <td>: @Model.TanggalMulai.ToString("dd/MM/yyyy")</td>
            </tr>
            <tr>
                <th>End Date</th>
                <td>: @(Model.TanggalSelesai?.ToString("dd/MM/yyyy") ?? "-")</td>
            </tr>
            <tr>
                <th>Amount</th>
                <td>: @(Model.JumlahBantuan?.ToString("C") ?? "-")</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>: <span
                        class="badge @(Model.Status == "Aktif" ? "badge-success" : "badge-secondary")">@Model.Status</span>
                </td>
            </tr>
            <tr>
                <th>Created At</th>
                <td>: @Model.CreatedAt.ToString("g")</td>
            </tr>
            <tr>
                <th>Updated At</th>
                <td>: @Model.UpdatedAt.ToString("g")</td>
            </tr>
        </table>
    </div>
</div>
<div class="modal-footer px-0 pb-0 mt-3 shadow-none border-top-0">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
</div>
