@model IEnumerable<SiakWebApps.Models.Student>

@{
    ViewData["Title"] = "Students";
}

<h1>Students</h1>

<p>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createStudentModal">Create
        New</button>
</p>
<table class="table" id="studentsTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Nis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Nisn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().NamaLengkap)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().TempatLahir)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().TanggalLahir)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Agama)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nis)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nisn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NamaLengkap)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TempatLahir)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TanggalLahir)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Agama)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-toggle="modal"
                        data-bs-target="#editStudentModal">Edit</button>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-outline-info">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<!-- Create Student Modal -->
<div class="modal fade" id="createStudentModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Create Student</h5>
            </div>
            <div class="modal-body">
                @await Html.PartialAsync("_CreateModal", new SiakWebApps.Models.Student())
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#studentsTable').DataTable({
                dom: 'Bfrtip',
                buttons: ['copy', 'csv', 'excel', 'pdf', 'print']
            });
        });
    </script>
}

<!-- Edit Student Modal -->
<div class="modal fade" id="editStudentModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Student</h5>
            </div>
            <div class="modal-body">
                @await Html.PartialAsync("_EditModal", new SiakWebApps.Models.Student())
            </div>
        </div>
    </div>
</div>