@model SiakWebApps.Models.Teacher

@{
    Layout = null;
}

<div class="row">
    <div class="col-md-4 text-center mb-3">
        @if (!string.IsNullOrEmpty(Model.FotoProfile))
        {
            <img src="@Model.FotoProfile" alt="Profile Picture" class="img-fluid rounded-circle shadow"
                style="max-width: 150px;" />
        }
        else
        {
            <div class="bg-light rounded-circle d-flex align-items-center justify-content-center mx-auto shadow"
                style="width: 150px; height: 150px;">
                <i class="fas fa-user fa-5x text-secondary"></i>
            </div>
        }
    </div>
    <div class="col-md-8">
        <table class="table table-sm borderless">
            <tr>
                <th style="width: 30%">NIP</th>
                <td>: @Model.Nip</td>
            </tr>
            <tr>
                <th>Full Name</th>
                <td>: @Model.NamaLengkap</td>
            </tr>
            <tr>
                <th>Place of Birth</th>
                <td>: @(Model.TempatLahir ?? "-")</td>
            </tr>
            <tr>
                <th>Date of Birth</th>
                <td>: @(Model.TanggalLahir?.ToString("dd/MM/yyyy") ?? "-")</td>
            </tr>
            <tr>
                <th>Phone</th>
                <td>: @(Model.Phone ?? "-")</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>: @(Model.Email ?? "-")</td>
            </tr>
            <tr>
                <th>Created At</th>
                <td>: @Model.CreatedAt.ToString("g")</td>
            </tr>
            <tr>
                <th>Updated At</th>
                <td>: @Model.UpdatedAt.ToString("g")</td>
            </tr>
        </table>
    </div>
</div>
<div class="modal-footer px-0 pb-0 mt-3">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
</div>
